---
import Layout from '../layouts/Layout.astro'; // Asegúrate de que la ruta del layout sea correcta
---

<Layout title="Gracias por tu compra">
  <main class="flex flex-col items-center justify-center min-h-screen text-white px-4 sm:px-6 lg:px-8">
    <h1 class="text-center text-3xl sm:text-4xl md:text-6xl font-extrabold mb-12 sm:mb-16 break-words leading-tight">
      🎉 Gracias <span class="block">por tu compra!</span>
    </h1>
    <p class="text-base sm:text-lg md:text-xl mb-6 sm:mb-8 max-w-xl text-center">
      Pronto te haremos llegar la información por correo electrónico.
    </p>

    <div class="flex gap-4 flex-wrap justify-center">
      <a 
        href="/" 
        class="bg-white text-black px-5 py-3 rounded-xl font-semibold hover:bg-gray-200 transition text-center w-full sm:w-auto max-w-xs"
      >
        Volver al inicio
      </a>
    </div>
  </main>
</Layout>
